@import "tailwindcss";

@theme inline {
  --color-primary: #006a26;
  --color-primary-dim: #005d20;
  --color-primary-container: #84ff92;
  --color-on-primary: #cfffcc;
  --color-on-primary-container: #006122;

  --color-secondary: #6a5b00;
  --color-secondary-container: #fddc00;
  --color-on-secondary: #fff3c5;
  --color-on-secondary-container: #5b4e00;

  --color-error: #b02500;
  --color-error-container: #f95630;
  --color-error-dim: #b92902;
  --color-on-error: #ffefec;
  --color-on-error-container: #520c00;

  --color-tertiary: #41579f;
  --color-tertiary-container: #9ab0ff;
  --color-on-tertiary: #f1f2ff;
  --color-on-tertiary-container: #122d74;

  --color-surface: #f6f6f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f0f0f3;
  --color-surface-container: #e7e8eb;
  --color-surface-container-high: #e1e2e6;
  --color-surface-container-highest: #dbdde0;

  --color-on-surface: #2d2f31;
  --color-on-surface-variant: #5a5c5e;
  --color-outline: #757779;
  --color-outline-variant: #acadaf;

  --color-surface-tint: #006a26;
  --color-background: #f6f6f9;
  --color-inverse-surface: #0c0e10;

  --font-headline: "Epilogue", sans-serif;
  --font-body: "Public Sans", sans-serif;
  --font-label: "Space Grotesk", sans-serif;

  --radius-xs: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-4xl: 0px;
  --radius-full: 0px;
}

@utility hard-shadow {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}
